/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 9;
  transition: background 0.3s, color 0.3s;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #0f172a;
  color: white;
}
